* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Nova Square";
    src: url('./font/novasquare-regular-webfont.woff2') format("woff2");
    src: url('./font/novasquare-regular-webfont.woff') format("woff");
}

body {
    font-family: "Nova Square", Arial, Helvetica, sans-serif;
    background-color: #1A1A1A;
    color: #E0E0E0;
    height: 100vh;
    max-width: 100vw;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Buttons Universal Style */
button, a, input[type="submit"] {
    width: 80%;
    appearance: none;
    background-color: #fff;
    border: 0.125em solid #1A1A1A;
    border-radius: 0.9375em;
    box-sizing: border-box;
    color: #1A1A1A;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 1.3rem;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 3.75em;
    min-width: 0;
    outline: none;
    padding: 1em 2.3em;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

button:disabled, input[type="submit"]:disabled {
    pointer-events: none;
}

button:hover, a:hover, input[type="submit"]:hover {
    color: #fff;
    background-color: #1A1A1A;
    transform: translateY(-2px);
}

button:active, a:active, input[type="submit"]:active {
    box-shadow: none;
    transform: translateY(0);
}

/* ==========
   INDEX PAGE
   ==========
*/

/* Start page container */
.start-page-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

.start-page-container h1 {
    margin-bottom: 1em;
    font-size: 3rem;
}

.play-button {
    background-color:#5bc0de;
    background-color: #bbadff;
}

.play-button:hover {
    box-shadow: #5bc0de 0 8px 15px;
}

.high-scores-button {
    background-color: #1779ba;
    background-color: #dab6fc;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .4em;
}

.high-scores-button:hover {
    box-shadow: #1779ba 0 8px 15px;
}

.high-scores-button svg {
    fill: #1A1A1A;
}

.high-scores-button:hover svg {
    fill: #fff;
}


/* ====================
  FINISH QUIZ CONTAINER
  =====================
*/

.finish-quiz-container {
    padding: 0 1em;
    display: flex;
    flex-direction: column;
    gap: 3em;
    text-align: center;
}

.finish-quiz-header {
    font-size: 2rem;
}

.finish-quiz-header .score {
    font-size: 3rem;
    margin-bottom: .5em;
    margin-top: 0.4em;
}

.finish-quiz-header p:last-of-type {
    font-size: 1.5rem;
}

/* Input field Style */
input[type="text"] {
    font-family: inherit;
    border: none;
    outline: none;
    padding: 1em;
    width: 100%;
    font-size: 1.2rem;
    border-radius: 10px;
    margin-bottom: 1em;
}

/* Submit button */
input[type="submit"] {
    background-color: #cd8de5;
}

/* Go home button */
.go-home-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3em;
    background-color: #dfc0eb;
}

/* Play again button */
.play-again-button {
    margin-block: 0.3em;
    background-color: #d5a6e6;
}

.go-home-button svg {
    fill: var(--primary-black);
}

.go-home-button:hover svg {
    fill: #fff;
}

/* ================
   Leaderboard page
   ===============
*/

.leaderboard-container {
    width: 100%;
    text-align: center;
}

.leaderboard-container h1 {
    font-size: 2.2rem;
    margin-bottom: 1em;
}

ol {
    list-style-type: none;
    width: 400px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    padding: 2em;
    text-align: left;
    box-shadow: 0 0 10px #1779ba;
    transition: all 0.5s ease;
    min-height: 200px;
}

/* No user data message */
ol .no-user-message {
    text-align: center;
    font-size: 1.4rem;
    color: gray;
}

/* Users data list */
ol li {
    font-size: 1.8rem;
    margin-bottom: .3em;
    width: 100%;
    display: flex;
    align-items: center;
    transition: all 0.5s ease;
}

/* Delete user button */
ol li .delete-user-button {
    margin-left: auto;
    cursor: pointer;
    transition: fill 0.4s ease;
}

ol li .delete-user-button:hover {
    fill: #bf0a30;
}

.leaderboard-container .go-home-button {
    width: 300px;
    background-color: #7e57c2;
    margin-top: 2em;
}

.leaderboard-container .go-home-button:hover {
    background-color: #b39ddb;
}

/* Media Query */
@media (min-width: 726px) {
    ol {
        width: 600px;
    }
}